LeafWeb/Service References/LeafService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8084/LeafService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeafService" />
  <xs:element name="SayHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SayHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SayHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recognize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noAnswers" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecognizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LeafService" minOccurs="0" name="RecognizeResult" nillable="true" type="q1:ArrayOfRecognizedLeaf" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Learn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LeafService" minOccurs="0" name="descriptors" nillable="true" type="q2:ArrayOfDescriptor" />
        <xs:element minOccurs="0" name="picture" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="treeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LeafService" minOccurs="0" name="senderInfo" nillable="true" type="q3:SenderInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LearnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LearnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>