LeafWeb/Service References/LeafService/LeafService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeafService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8084/LeafService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8084/LeafService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8084/LeafService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeafService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeafService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="ILeafService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ILeafService_Recognize_InputMessage">
    <wsdl:part name="parameters" element="tns:Recognize" />
  </wsdl:message>
  <wsdl:message name="ILeafService_Recognize_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecognizeResponse" />
  </wsdl:message>
  <wsdl:message name="ILeafService_Learn_InputMessage">
    <wsdl:part name="parameters" element="tns:Learn" />
  </wsdl:message>
  <wsdl:message name="ILeafService_Learn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LearnResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeafService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeafService/SayHello" message="tns:ILeafService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeafService/SayHelloResponse" message="tns:ILeafService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeafService/Recognize" message="tns:ILeafService_Recognize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeafService/RecognizeResponse" message="tns:ILeafService_Recognize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Learn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeafService/Learn" message="tns:ILeafService_Learn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeafService/LearnResponse" message="tns:ILeafService_Learn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILeafService" type="tns:ILeafService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/ILeafService/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Recognize">
      <soap:operation soapAction="http://tempuri.org/ILeafService/Recognize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Learn">
      <soap:operation soapAction="http://tempuri.org/ILeafService/Learn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeafService">
    <wsdl:port name="BasicHttpBinding_ILeafService" binding="tns:BasicHttpBinding_ILeafService">
      <soap:address location="http://localhost:8084/LeafService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>